.interactive {
	position: relative;
	margin: auto;
	width: 305px;
	height: 150px;
	background-image: url("../images/sprites/png/js_background.png");
	background-position-x: 0%;
	background-position-y: 42%;
	background-repeat: no-repeat;
	animation: appearance-left;
	animation-duration: 2s;
	animation-timing-function: $easing-out;
}

.interactive__arrow {
	position: absolute;
	left: 90px;
	bottom: 5px;
	transform-origin: 80% 70%;
}

@keyframes appearance-left {
	0% {
		transform: translateX(-250px);
	}

	100% {
		transform: translateX(0%);
	}
}
