.skills {
	position: relative;
	margin: 15px 20px;
	padding-top: 25px;

	&::before,
	&::after {
		content: " ";
		position: absolute;
		left: -20px;
		border-bottom: 2px dashed $grey;
		width: 105.2%;
		height: 2px;
	}

	&::before {
		top: -9px;
	}

	&::after {
		bottom: -7px;
	}
}

.skills__form {
	display: flex;
	flex-wrap: wrap;
}

.skills__label {
	position: relative;
	margin: 5px 0 32px;
	padding-left: 25px;
	width: 25%;
	min-width: 120px;
	animation: fall;
	animation-duration: 2s;
	animation-timing-function: $easing-back-out;

	&::before {
		content: " ";
		position: absolute;
		left: -2px;
		top: 2px;
		border-radius: 5px;
		width: 19px;
		height: 19px;
		background-color: $grey;
	}

	&::after {
		animation: rotate;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	&--html5 {
		animation-delay: 0.9s;
	}

	&--sass {
		animation-delay: 0.4s;
	}

	&--vanilla-js {
		animation-delay: 0.8s;
	}

	&--git {
		animation-delay: 0.1s;
	}

	&--css3 {
		animation-delay: 0.9s;
	}

	&--less {
		animation-delay: 0.7s;
	}

	&--angular {
		animation-delay: 0.3s;
	}

	&--foundation {
		animation-delay: 0.8s;
	}

	&--bem {
		animation-delay: 0.6s;
	}

	&--gulp {
		animation-delay: 0.2s;
	}

	&--jquery {
		animation-delay: 0.5s;
	}

	&--bootstrap {
		animation-delay: 0.1s;
	}
}

.skills__checkbox {
	appearance: none;
	position: absolute;
	opacity: 0;
}

.skills__checkbox:hover + .skills__label::before {
	box-shadow:
		0 0 5px 1px $yellow,
		inset 0 0 10px 1px $yellow;
	transform: scale(1.2);
}

.skills__checkbox:checked + .skills__label::before {
	background-color: $color-blue;
}

.skills__checkbox:checked + .skills__label::after {
	content: " ";
	position: absolute;
	left: 2px;
	bottom: 9px;
	border-bottom: 2px solid $color-white;
	border-left: 2px solid $color-white;
	width: 12px;
	height: 5px;
}

@keyframes fall {
	0% {
		transform: translateY(-500px);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(120deg);
	}

	100% {
		transform: rotate(-42deg);
	}
}
