doctype html

html(lang="ru")
	include pug/block/head.pug
	body.body
		.container
			include pug/block/avatar.pug
			include pug/block/personal.pug
		include pug/block/skills.pug
		.body__js.js.container
			include pug/block/interactive.pug
			include pug/block/description.pug
		include pug/block/script.pug
